.entire{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.row-flex{
    display: flex;
    align-items: center;
}
.dist-input{
    padding-top: 20px;
}
table{
   width: 75%;
   padding-bottom: 20px;
}
